.button {
    width: 100%;
    text-align: left;
    padding: 25px 20px;
    border: none;
    cursor: pointer;
    background-color: #0866FF;
    color: white;
}
.button:hover{
    background-color: #0155dc;
}

.button-active {
    background-color: #0155dc;
}

.header{
    display: flex;
    height: calc(100vh);
    flex-direction: column;
    width: 150px;
    position: fixed;
    background-color: #0866FF;
}

.expendHover:hover{
    background-color: #0155DC;
}

.expendHover:hover + .subMenu,
.subMenu:hover{
    display: block;
}

.subMenu{
    display: none;
    position: fixed;
    left: 150px;
    top: 296px
}

.subMenuButton{
    width: 120px;
    display: flex;
    flex-direction: column;
}
